/*_________FONT FACE___________*/

@font-face {
    font-family: 'AvenirDemi';
    src: url('../fonts/AvenirNext-DemiBold.eot');
    src: url('../fonts/AvenirNext-DemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirNext-DemiBold.woff') format('woff'),
    url('../fonts/AvenirNext-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/AvenirNext-Regular.eot');
    src: url('../fonts/AvenirNext-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirNext-Regular.woff') format('woff'),
    url('../fonts/AvenirNext-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirMedium';
    src: url('../fonts/AvenirNext-Medium.eot');
    src: url('../fonts/AvenirNext-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirNext-Medium.woff') format('woff'),
    url('../fonts/AvenirNext-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/*_______STYLE GENERAL_______*/

body {
    padding:40px;
    background-color:white;
    font-family: 'Avenir', sans-serif;
}
main{
    font-size:1.6rem;
    letter-spacing: 1px;
    line-height: 1.5;
    background: #FDFCFC;
    padding-bottom:100px;
}
li {
    list-style:none;
}
.btn {
    background-color:#F37168;
    text-transform:uppercase;
    letter-spacing:2px;
    color:white;
    border-radius:0;
    padding: 12px 17px;
    transition:all ease-in 0.2s;
    white-space: normal;
}
.btn:hover, .btn:focus {
    color:white;
    background-color: #D9534A;
}
section {
    text-align:center;
    margin-top:80px;
}
section h3 {
    margin-bottom: 45px;
    text-transform: uppercase;
    font-family: 'AvenirMedium',sans-serif;
    letter-spacing: 4px;
    text-align: center;
}

.doubleList {
    text-align:left;
}

.square {
    width:320px;
    height:320px;
    border:10px solid white;
    margin:0 auto;
    position:relative;
    overflow:hidden;
    margin-bottom: 60px;
}

.rectangle {
    width:710px;
    height:320px;
    border:10px solid white;
    margin:0 auto;
    position:relative;
    overflow:hidden;
}

.rotatedTitle {
    text-align:left;
    -webkit-transform: rotate(-90deg) translateX(-90px);
    -moz-transform: rotate(-90deg) translateX(-90px);
    -ms-transform: rotate(-90deg) translateX(-90px);
    -o-transform: rotate(-90deg) translateX(-90px);
    transform: rotate(-90deg) translateX(-90px);
}

article img {
    min-height: 100%;
    min-width: 100%;
}

article.rectangle .details {
    padding-top: 37%;
}

article.rectangle:hover .details, article.rectangle:focus .details {
    padding-top: 2%;
}

article .details {
    position: absolute;
    height: 100%;
    padding-top: 85%;
    top: 0;
    width: 100%;
    color: white;
    -webkit-transition: all cubic-bezier(1, 0.04, 0.12, 1.01) 0.4s;
    -moz-transition: all cubic-bezier(1, 0.04, 0.12, 1.01) 0.4s;
    -ms-transition: all cubic-bezier(1, 0.04, 0.12, 1.01) 0.4s;
    -o-transition: all cubic-bezier(1, 0.04, 0.12, 1.01) 0.4s;
    transition: all cubic-bezier(1, 0.04, 0.12, 1.01) 0.4s;
}

article .details h4 {
    font-family: 'AvenirMedium', sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
}

article .details p {
    font-size: 1.4rem;
    margin-top: 30px;
    padding: 0 10px;
}
article:hover .details, article:focus .details{
    padding-top:5%;
    background:rgba(0,0,0,0.5);
}

.bottomBar {
    width:100%;
    height:40px;
    bottom:0;
    left:0;
    background-color:white;
    z-index:10;
    position:fixed;
}

/*__________FORMULAIRES__________*/

.form-control {
    border-radius:0;
    border: 1px solid #F37168;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize:none;
    padding-top:25px;
    padding-bottom: 25px;
}
textarea.form-control {
    height:200px;
}
.has-feedback {
    position: relative;
    text-align: left;
    margin-top: 5px;
}

.has-feedback select.form-control{
    height:51px;
    display:block;
}
.btn-container {
    margin-top:30px;
    text-align:right;
}
/*_______HEADER_______*/

header {
    position: absolute;
    width: calc(100% - 80px);
    top: 40px;
    left: 40px;
    background: transparent;
    z-index: 12;
    padding: 10px;
}
header.fixedHeader {
    position:fixed;
    top:0;
}
header.fixedHeader.whiteHeader {
    background-color:white;
    height:40px;
    padding: 2px 10px;
}
header.fixedHeader.whiteHeader svg {
    fill:#F37168;

    transition: transform ease-in 0.1s;
    transition: fill ease-in 0.2s;
}

header.fixedHeader.whiteHeader .menu-icon {

}
header.fixedHeader.whiteHeader .hideable {
    display:none;
    transition: all ease-in 0.2s;
}

header.fixedHeader.whiteHeader .menu-icon span,
header.fixedHeader.whiteHeader .menu-icon::after,
header.fixedHeader.whiteHeader .menu-icon::before {
    background-color:#F37168;
}
header svg {
    fill:white;
    width:80px;
}
header nav {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.9);
    z-index: 1000;
    margin: 0;
}
header nav a {
    color:white;
    letter-spacing:5px;
    text-transform: uppercase;
    font-size:2em;
    transition:all ease-in 0.2s;
}
header nav a:hover, header nav a:focus {
    color: #F37168;
}

header nav li {
    text-align: center;
    border-bottom: 1px solid #333;
    padding: 20px;
}
header .menu-icon {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
}
header .menu-icon span{
    width: 35px;
    height: 2px;
    background: white;
    display: block;
    margin-top: 6px;
}
header .menu-icon::before, header .menu-icon::after {
    content: "";
    width: 35px;
    height: 2px;
    background: white;
    display: block;
    transition: all ease-in 0.2s;
}
.menu-icon::before {
    margin-top: -6px;
}
.menu-icon::after {
    margin-top: 6px;
}

/*_______HERO IMAGE_______*/

figure {
    position: relative;
    height: 785px;
    overflow: hidden;
    background-size: cover;
    background-position: center -20px;
}
figure img {
    min-width: 100%;
    height: auto;
    min-height:100%;
    width:auto;
}
figure figcaption {
    position: absolute;
    color: white;
    left: 50%;
    margin-left: -297px;
    top: 50%;
    margin-top: -192px;
    text-align: center;
    text-transform: uppercase;
}

h1 {
    font-family: 'AvenirDemi', sans-serif;
    font-size: 4em;
    letter-spacing: 5px;
}

figure figcaption h2 {
    letter-spacing: 5px;
    font-size: 1.3em;
    transform: translateY(-16px);
}

figure figcaption .btn {
    margin-top:210px;
}

/*_______SECTION RECETTE_______*/
#recette {
    padding-top:80px;
    margin-top:0px;
}


/*_______SECTION INGREDIENTS_______*/

#ingredients {
    text-align:center;
}
#ingredients h4 {
    text-transform:uppercase;
    margin-bottom:30px;
}
#ingredients h4::before {
    content:url(../img/carotte.png);
    display:block;
    margin-bottom:35px;
}
#ingredients .row:first-child > div:nth-child(3) h4:before {
    content:url(../img/ToqueChef.png);
}
#ingredients .row:first-child > div:nth-child(4) h4:before {
    content:url(../img/marmitte.png);
}
#ingredients .row:first-child {
    margin-bottom:106px;
}

#ingredients .row.ctaContainer {
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
    margin-top: -46px;
    z-index: 11;
}
#ingredients .row.ctaContainer.ctaFixed {
    position: fixed;
    bottom: 46px;
    margin: 0;
}

#ingredients .row.ctaContainer.ctaFixed.bottomFixed {
    position:absolute;
}
/*_______SECTION PARTENAIRES_______*/

#partners {
    background: url(../img/pattern.jpg) repeat-x;
    background-size: 25%;
    padding-top: 140px;
}

/*_______SECTION CHEFS_______*/

#chefs {
    background: url(../img/chefBkg.jpg) no-repeat;
    background-position: 0 230px;
    background-size: cover;
    padding-bottom: 350px;
}

/*_______SECTION D'ASSO_______*/

#associations .row > div {
    margin-bottom: 60px;
}
#associations {
    margin-top: -120px;
    padding-bottom:100px;
}
#associations article {
    background-color: white;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
#associations article img {
    min-width:auto;
    min-height:auto;
}
/*_______FOOTER_______*/

footer {
    background-image:linear-gradient(rgba(248,245,192,0.7), rgba(248,245,192,0.7)), url(../img/pattern.jpg);
    background-size: 25%;
    text-align: center;
    padding: 50px 0;
}

footer svg {
    width:200px;
    fill:white;
}

footer .links {
    text-align:left;
    padding-top:60px;
    letter-spacing: 1px;
}

footer .links h4 {
    text-transform: uppercase;
    font-family: 'AvenirMedium', sans-serif;
}
footer .links a {
    color: black;
    margin-bottom: 5px;
    display: block;
}

/*_______PAGE CONTACT_______*/

.overlayContainer {
    margin-top: -380px;
    background-color: white;
    position: relative;
    text-align: center;
    padding: 0px 20px 40px 20px;
    min-height: 440px;
}
.overlayContainer h1 {
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
    transform: translateY(-210px);
    color: white;
    text-transform: uppercase;
    height:70px;
}
#contact_form {
    margin-top:50px;
}
#contact_form .has-feedback{
    text-align: left;
    margin-bottom: 20px;
}

#contact_form .btn {
    width:100%;
}

/*_______PAGE RERSEVER SESSION_____*/

#cours_form .control-label{
    text-align:center;
}

#cours_form img {
    max-width: 100%;
}
form label span {
    display: block;
    font-size: 0.8em;
    text-align: center;
}
.particpantsList {
    width:100px;
}

.participants {
    fill: #F37168;
}

.participants.disabled {
    fill:rgb(248,245,192);
}

form#cours img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

#cours input[type=checkbox], input[type=radio] {
    display:block;
margin:10px auto;
}
#ingredients h4.panIcon::before {
    content:url('../img/marmitte.png');
}

#ingredients h4.toqueIcon::before {
    content:url(../img/ToqueChef.png);
}

form#cours .sectionAssos img {
    max-height: 80px;
    margin-bottom: 20px;
}

#firmInfos ul {
    text-align:left;
}

.socialLinks {
    padding:0;
}
.socialLinks li {
    display:inline-block;
}

footer .socialLinks {
    position: fixed;
    bottom: 0;
    Z-index: 30;
    margin: 0;
}

footer .socialLinks svg{
    fill:black;
}